doctype html(lang='en')
head
    meta(charset='UTF-8')
    |     
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    title Home
    |     
    link(rel='stylesheet', href='//fonts.googleapis.com/css?family=Roboto:400,500')
    |     
    link(rel='stylesheet', href='./dest/styles/style.css')
    |     
    script(src='./dest/scripts/uikit.js')
    |     
    script(src='./dest/scripts/uikit-icons.js')
    |     
    link(rel='preconnect', href='https://fonts.gstatic.com')
    |     
    link(href='https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap', rel='stylesheet')
    |
body
    header(style='position: fixed; width: 100%; z-index: 999')
      .uk-navbar-container.tm-navbar-container(uk-sticky='cls-active: tm-navbar-container-fixed;')
        .uk-container(uk-navbar='')
          .uk-navbar-left
            button.uk-navbar-toggle(class='uk-hidden@m', uk-toggle='target: #nav-offcanvas', uk-navbar-toggle-icon='')
            a.uk-navbar-item.uk-logo(href='index.html')
              img(src='./dest/images/logo.png', width='90', height='32', alt='Logo', style='filter: opacity(75%)')
            |             
            nav(class='uk-visible@m')
              ul.uk-navbar-nav
                li
                  a(href='blog.html') Blog
                |                 
                li
                  a(href='music.html') Music
                |                 
                li
                  a(href='services.html') Services
                |                 
                li
                  a(href='about.html') About
                |                 
                li
                  a(href='contacts.html') Contacts
          |           
          .uk-navbar-right
            a.uk-navbar-item.uk-link-muted.tm-navbar-button(href='account.html', uk-icon='icon: user; ratio:2')
    |     
    main
      section.uk-section.uk-section-small(style='padding-top: 80px; padding-bottom: 160px;')
        .uk-container
          .uk-text-center
            h1.uk-heading-hero 404
            |             
            .uk-text-lead Page not found
            |             
            .uk-margin-top
              | Looks like the page you&apos;re trying to visit doesn&apos;t exist.
              br
              a(href='index.html') Go back to Homepage
      |       
      section.uk-section.uk-section-default.uk-section-small
        .uk-container
          div(uk-slider='')
            ul.uk-slider-items.uk-child-width-1-1.uk-grid(class='uk-child-width-1-2@s uk-child-width-1-5@m')
              li
                .uk-grid-small.uk-flex-center(class='uk-flex-left@s', uk-grid='')
                  div
                    span(uk-icon='icon: star; ratio: 2.5;')
                  |                   
                  .uk-text-center(class='uk-text-left@s uk-width-expand@s')
                    div &Lcy;&yucy;&bcy;&ocy;
                    |                     
                    .uk-text-meta &Kcy;&rcy;&acy;&scy;&icy;&vcy;&ocy;
              |               
              li
                .uk-grid-small.uk-flex-center(class='uk-flex-left@s', uk-grid='')
                  div
                    span(uk-icon='icon: tag; ratio: 2.5;')
                  |                   
                  .uk-text-center(class='uk-text-left@s uk-width-expand@s')
                    div &Dcy;&ocy;&rcy;&ocy;&gcy;&ocy;
                    |                     
                    .uk-text-meta &Vcy; &dcy;&ocy;&lcy;&lcy;&acy;&rcy;&acy;&khcy;
              |               
              li
                .uk-grid-small.uk-flex-center(class='uk-flex-left@s', uk-grid='')
                  div
                    span(uk-icon='icon: database; ratio: 2.5;')
                  |                   
                  .uk-text-center(class='uk-text-left@s uk-width-expand@s')
                    div &Bcy;&ocy;&gcy;&acy;&tcy;&ocy;
                    |                     
                    .uk-text-meta &Dcy;&iecy;&ncy;&softcy;&gcy;&icy; &mcy;&ncy;&ocy;&gcy;&ocy;
              |               
              li
                .uk-grid-small.uk-flex-center(class='uk-flex-left@s', uk-grid='')
                  div
                    span(uk-icon='icon: comments; ratio: 2.5;')
                  |                   
                  .uk-text-center(class='uk-text-left@s uk-width-expand@s')
                    div &Pcy;&ocy;&chcy;&icy;&rcy;&icy;&kcy;&acy;&iecy;&mcy;
                    |                     
                    .uk-text-meta &Pcy;&ocy;&dcy;&dcy;&iecy;&rcy;&zhcy;&kcy;&acy;
              |               
              li
                .uk-grid-small.uk-flex-center(class='uk-flex-left@s', uk-grid='')
                  div
                    span(uk-icon='icon: happy; ratio: 2.5;')
                  |                   
                  .uk-text-center(class='uk-text-left@s uk-width-expand@s')
                    div &Scy; &dcy;&ucy;&shcy;&ocy;&jcy;
                    |                     
                    .uk-text-meta &Vcy;&iecy;&zhcy;&lcy;&icy;&vcy;&ocy;
            |             
            ul.uk-slider-nav.uk-dotnav.uk-flex-center.uk-margin-medium-top
    |     
    footer
      section.uk-section.uk-section-secondary.uk-section-small.uk-light
        .uk-container
          .uk-grid-medium.uk-child-width-1-1(class='uk-child-width-1-4@m', uk-grid='')
            div
              ul.uk-iconnav
                li
                  a(href='#', title='Facebook', uk-icon='facebook')
                |                 
                li
                  a(href='#', title='Twitter', uk-icon='twitter')
                |                 
                li
                  a(href='#', title='YouTube', uk-icon='youtube')
                |                 
                li
                  a(href='#', title='Instagram', uk-icon='instagram')
              |               
              p.uk-text-small
                | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut
                | mauris eros. Nulla quis ante sed tortor efficitur facilisis.
            |             
            div
              nav.uk-grid-small.uk-child-width-1-2(uk-grid='')
                div
                  ul.uk-nav.uk-nav-default
                    li
                      a(href='music.html') Music
                    |                     
                    li
                      a(href='services.html') Services
                    |                     
                    li
                      a(href='about.html') About
                |                 
                div
                  ul.uk-nav.uk-nav-default
                    li
                      a(href='contacts.html') Contacts
                    |                     
                    li
                      a(href='blog.html') Blog
            |             
            div
              ul.uk-list.uk-text-small
            |             
            div
              form.uk-form-stacked
                label
                  .uk-inline.uk-width-1-1
                    a.uk-form-icon.uk-form-icon-flip(href='#', uk-icon='mail')
                    input.uk-input(type='email', placeholder='Your email', required='')
                  |                   
                  .uk-form-label.uk-padding-small.uk-text-muted
                    | Subscribe for new beats
    |     
    #nav-offcanvas(uk-offcanvas='overlay: true')
      aside.uk-offcanvas-bar.uk-padding-remove
        .uk-card.uk-card-default.uk-card-small.tm-shadow-remove
          nav.uk-card-small.uk-card-body
            ul.uk-nav-default.uk-nav-parent-icon.uk-list-divider(uk-nav='')
              li
                a(href='blog.html') Blog
              |               
              li
                a(href='music.html') Music
              |               
              li
                a(href='services.html') Services
              |               
              li
                a(href='about.html') About
              |               
              li
                a(href='contacts.html') Contacts
          |           
          nav.uk-card-body
            ul.uk-iconnav.uk-flex-center
              li
                a(href='#', title='Facebook', uk-icon='facebook')
              |               
              li
                a(href='#', title='Twitter', uk-icon='twitter')
              |               
              li
                a(href='#', title='YouTube', uk-icon='youtube')
              |               
              li
                a(href='#', title='Instagram', uk-icon='instagram')