extends _base.pug
block title
  title Error page

block content
  main
    section.uk-section.uk-section-small(style='padding-top: 80px; padding-bottom: 160px;')
      .uk-container
        .uk-text-center
          h1.uk-heading-hero #{status}
          |             
          .uk-text-lead #{error}
          |             
          .uk-margin-top
            | #{message}
            br
            a(href='./') Go back to Homepage

  //Terms
  include _ourTerms