doctype html(lang='en')
head
    meta(charset='UTF-8')

    |     
    meta(name='viewport' content='width=device-width, initial-scale=1')
    |     
    block title 
    |     
    link(rel='stylesheet' href='//fonts.googleapis.com/css?family=Roboto:400,500')
    |     
    link(rel='stylesheet' href='./dest/styles/style.css')
    |     
    script(src='./dest/scripts/uikit.js')
    |     
    script(src='./dest/scripts/uikit-icons.js')
    |     
    link(rel='preconnect' href='https://fonts.gstatic.com')
    |     
    link(href='https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap' rel='stylesheet')
body
    include _header

    // CONTENT
    block content
        h1 This is a placeholder heading

    // FOOTER
    include _footer
    script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js')
    script(src='./js/login.js')
script. 
    function sendJSON(){

        let email = document.querySelector('#email');
        if (!email.checkValidity() ) {return; }
        // Creating a XHR object
        let xhr = new XMLHttpRequest();
        let url = "./api/v1/users/subscribe/emails";

        // open a connection
        xhr.open("POST", url, true);

        // Set the request header i.e. which type of content you are sending
        xhr.setRequestHeader("Content-Type", "application/json");

        // Converting JSON data to string
        var data = JSON.stringify({ "email": email.value });

        // Sending data with the request
        xhr.send(data);
        }
