footer
    section.uk-section.uk-section-secondary.uk-section-small.uk-light
        .uk-container
            .uk-grid-medium.uk-child-width-1-1(class='uk-child-width-1-4@m' uk-grid='')
                div
                    ul.uk-iconnav
                        li
                            a(href='#' title='Facebook' uk-icon='facebook')
                        |                 
                        li
                            a(href='#' title='Twitter' uk-icon='twitter')
                        |                 
                        li
                            a(href='#' title='YouTube' uk-icon='youtube')
                        |                 
                        li
                            a(href='#' title='Instagram' uk-icon='instagram')
                    |               
                    p.uk-text-small
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut
                        | mauris eros. Nulla quis ante sed tortor efficitur facilisis.
                |             
                div
                    nav.uk-grid-small.uk-child-width-1-2(uk-grid='')
                        div
                            ul.uk-nav.uk-nav-default
                                li
                                    a(href='music.html') Music
                                |                     
                                li
                                    a(href='services.html') Services
                                |                     
                                li
                                    a(href='about.html') About
                        |                 
                        div
                            ul.uk-nav.uk-nav-default
                                li
                                    a(href='contacts.html') Contacts
                                |                     
                                li
                                    a(href='blog.html') Blog
                |             
                div
                    ul.uk-list.uk-text-small
                |             
                div
                    form.uk-form-stacked
                        label
                            .uk-inline.uk-width-1-1
                                a.uk-form-icon.uk-form-icon-flip(href='#' uk-icon='mail')
                                input.uk-input(type='email' placeholder='Your email' required='')
                            |                   
                            .uk-form-label.uk-padding-small.uk-text-muted
                                | Subscribe for new beats