footer
    section.uk-section.uk-section-secondary.uk-section-small.uk-light
        .uk-container
            .uk-grid-medium.uk-child-width-1-1(class='uk-child-width-1-4@m' uk-grid='')
                div
                    ul.uk-iconnav
                        li
                            a(href='#' title='Facebook' uk-icon='facebook')
                        |                 
                        li
                            a(href='#' title='Twitter' uk-icon='twitter')
                        |                 
                        li
                            a(href='#' title='YouTube' uk-icon='youtube')
                        |                 
                        li
                            a(href='#' title='Instagram' uk-icon='instagram')
                    |               
                    p.uk-text-small
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ut
                        | mauris eros. Nulla quis ante sed tortor efficitur facilisis.
                |             
                div
                    nav.uk-grid-small.uk-child-width-1-2(uk-grid='')
                        div
                            ul.uk-nav.uk-nav-default
                                li
                                    a(href='music.html') Music
                                |                     
                                li
                                    a(href='services.html') Services
                                |                     
                                li
                                    a(href='about.html') About
                        |                 
                        div
                            ul.uk-nav.uk-nav-default
                                li
                                    a(href='contacts.html') Contacts
                                |                     
                                li
                                    a(href='blog.html') Blog
                |             
                div
                    ul.uk-list.uk-text-small
                |             
                div
                    form.uk-form-stacked
                        label
                            .uk-inline.uk-width-1-1
                                a.uk-form-icon.uk-form-icon-flip(href='#' uk-icon='mail' onclick="sendEmailJSON()")
                                input.uk-input(id="footerEmail" type='email' placeholder='Your email' required='')
                            |                   
                            .uk-form-label.uk-padding-small.uk-text-muted
                                | Subscribe for new beats
script. 
    function sendEmailJSON(){
        //Same as sendJSON but only for footer
        let email = document.querySelector('#footerEmail');

        if(!email.checkValidity() ) {return; }
        // Creating a XHR object
        let xhr = new XMLHttpRequest();
        let url = "./api/v1/users/subscribe/emails";

        // open a connection
        xhr.open("POST", url, true);

        // Set the request header i.e. which type of content you are sending
        xhr.setRequestHeader("Content-Type", "application/json");

        // Converting JSON data to string
        var data = JSON.stringify({ "email": email.value });

            // Create a state change callback
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 201) {

                // Print received data from server
                if (JSON.parse(this.responseText).status=="success"){
                    UIkit.notification("<span uk-icon='icon: check'></span> Thank you!", {status:'success'});
                    email.value=''
                }

                }
            };


        // Sending data with the request
        xhr.send(data);

        }