section.uk-section.uk-section-default.uk-section-small
    .uk-container
        div(uk-slider='')
            ul.uk-slider-items.uk-child-width-1-1.uk-grid(class='uk-child-width-1-2@s uk-child-width-1-5@m')
                li
                    .uk-grid-small.uk-flex-center(class='uk-flex-left@s' uk-grid='')
                        div
                            span(uk-icon='icon: bolt; ratio: 2.5;')
                        |                   
                        .uk-text-center(class='uk-text-left@s uk-width-expand@s')
                            div Overdoing
                            |                     
                            .uk-text-meta Everything
                |               
                li
                    .uk-grid-small.uk-flex-center(class='uk-flex-left@s' uk-grid='')
                        div
                            span(uk-icon='icon: star; ratio: 2.5;')
                        |                   
                        .uk-text-center(class='uk-text-left@s uk-width-expand@s')
                            div  Sought talents
                            |                     
                            .uk-text-meta Highly
                |               
                li
                    .uk-grid-small.uk-flex-center(class='uk-flex-left@s' uk-grid='')
                        div
                            span(uk-icon='icon: database; ratio: 2.5;')
                        |                   
                        .uk-text-center(class='uk-text-left@s uk-width-expand@s')
                            div Fix prices
                            |                     
                            .uk-text-meta For all
                |               
                li
                    .uk-grid-small.uk-flex-center(class='uk-flex-left@s' uk-grid='')
                        div
                            span(uk-icon='icon: comments; ratio: 2.5;')
                        |                   
                        .uk-text-center(class='uk-text-left@s uk-width-expand@s')
                            div Polite
                            |                     
                            .uk-text-meta Find a compromise
                |               
                li
                    .uk-grid-small.uk-flex-center(class='uk-flex-left@s' uk-grid='')
                        div
                            span(uk-icon='icon: heart; ratio: 2.5;')
                        |                   
                        .uk-text-center(class='uk-text-left@s uk-width-expand@s')
                            div With love
                            |                     
                            .uk-text-meta S dushoy
            |             
            ul.uk-slider-nav.uk-dotnav.uk-flex-center.uk-margin-medium-top
