extends _base.pug
block title 
  title My account
block content
  main(style='padding-top: 80px')
    section.uk-section.uk-section-small
      .uk-container
        .uk-grid-medium(uk-grid='')
          .uk-width-1-1.tm-aside-column(class='uk-width-1-4@m')
            .uk-card.uk-card-default.uk-card-small.tm-ignore-container(uk-sticky='offset: 90; bottom: true; media: @m;')
              .uk-card-header
                .uk-grid-small.uk-child-width-1-1(uk-grid='')
                  section
                    .uk-width-1-3.uk-margin-auto.uk-visible-toggle.uk-position-relative.uk-border-circle.uk-overflow-hidden.uk-light(class='uk-width-1-4@s uk-width-1-2@m')
                      img.uk-width-1-1(src='./dest/images/avatar.jpg')
                      a.uk-link-reset.uk-overlay-primary.uk-position-cover.uk-hidden-hover(href='#')
                        .uk-position-center
                          span(uk-icon='icon: camera; ratio: 1.25;')
                  |                     
                  .uk-text-center
                    .uk-h4.uk-margin-remove Thomas Bruns
                    |                       
                    .uk-text-meta Joined June 6, 2018
                  |                     
                  div
                    .uk-grid-small.uk-flex-center(uk-grid='')
                      div
                        a.uk-button.uk-button-default.uk-button-small(href='settings')
                          span.uk-margin-xsmall-right(uk-icon='icon: cog; ratio: .75;')
                          span Change Me
                      |                         
                      div
                        span.uk-button.uk-button-default.uk-button-small(uk-icon='sign-out' uk-toggle='target: #modal-close-default')
                        |                           
                        #modal-close-default(uk-modal='')
                          form.uk-margin.uk-width-large.uk-margin-auto.uk-card.uk-card-default.uk-card-body.uk-box-shadow-large.uk-modal-dialog.uk-modal-body
                            button.uk-modal-close-default(type='button' uk-close='')
                            |                               
                            ul.uk-tab.uk-flex-center.uk-grid(uk-grid='' uk-switcher='')
                              li.uk-active.uk-first-column(aria-expanded='true')
                                a(href='#') Sign Up
                              |                                 
                              li(aria-expanded='false')
                                a(href='#') Log In
                              |                                 
                              li.uk-hidden(aria-expanded='false')
                                | Forgot Password?
                            |                               
                            ul.uk-switcher.uk-margin
                              li.uk-active
                                h3.uk-card-title.uk-text-center
                                  | Sign up today. It&apos;s free!
                                |                                   
                                .uk-margin
                                  .uk-inline.uk-width-1-1
                                    span.uk-form-icon.uk-icon(uk-icon='icon: user')
                                    |                                       
                                    input.uk-input.uk-form-large(type='text' placeholder='First and last name')
                                |                                   
                                .uk-margin
                                  .uk-inline.uk-width-1-1
                                    span.uk-form-icon.uk-icon(uk-icon='icon: mail')
                                    |                                       
                                    input.uk-input.uk-form-large(type='text' placeholder='Email address')
                                |                                   
                                .uk-margin
                                  .uk-inline.uk-width-1-1
                                    span.uk-form-icon.uk-icon(uk-icon='icon: lock')
                                    |                                       
                                    input.uk-input.uk-form-large(type='password' placeholder='Set a password')
                                |                                   
                                .uk-margin
                                  .uk-inline.uk-width-1-1
                                    span.uk-form-icon.uk-icon(uk-icon='icon: lock')
                                    |                                       
                                    input.uk-input.uk-form-large(type='password' placeholder='Confirm your password')
                                |                                   
                                .uk-margin.uk-grid-small.uk-child-width-auto.uk-grid
                                  label
                                    input.uk-checkbox(type='checkbox')
                                    |                                       I agree to press this button.
                                |                                   
                                .uk-margin
                                  button.uk-button.uk-button-primary.uk-button-large.uk-width-1-1
                                    | Login
                                |                                   
                                .uk-text-small.uk-text-center
                                  | Already have an account?
                                  a(href='#' uk-switcher-item='1') Log in
                              |                                 
                              li
                                h3.uk-card-title.uk-text-center
                                  | Welcome back!
                                |                                   
                                form
                                  .uk-margin
                                    .uk-inline.uk-width-1-1
                                      span.uk-form-icon.uk-icon(uk-icon='icon: mail')
                                      |                                         
                                      input.uk-input.uk-form-large(type='text' placeholder='Email address')
                                  |                                     
                                  .uk-margin
                                    .uk-inline.uk-width-1-1
                                      span.uk-form-icon.uk-icon(uk-icon='icon: lock')
                                      |                                         
                                      input.uk-input.uk-form-large(type='password' placeholder='Password')
                                  |                                     
                                  .uk-margin.uk-text-center.uk-text-small(class='uk-text-right@s')
                                    a(href='#' uk-switcher-item='2') Forgot Password?
                                  |                                     
                                  .uk-margin
                                    button.uk-button.uk-button-primary.uk-button-large.uk-width-1-1
                                      | Login
                                  |                                     
                                  .uk-text-small.uk-text-center
                                    | Not registered?
                                    a(href='#' uk-switcher-item='0') Create an account
                              |                                 
                              li
                                h3.uk-card-title.uk-text-center
                                  | Forgot your password?
                                |                                   
                                p.uk-text-center.uk-margin-auto(class='uk-width-medium@s')
                                  | Enter your email address and we will send
                                  | you a link to reset your password.
                                |                                   
                                form
                                  .uk-margin
                                    .uk-inline.uk-width-1-1
                                      span.uk-form-icon.uk-icon(uk-icon='icon: mail')
                                      |                                         
                                      input.uk-input.uk-form-large(type='text' placeholder='Email address')
                                  |                                     
                                  .uk-margin
                                    button.uk-button.uk-button-primary.uk-button-large.uk-width-1-1
                                      | Send Email
                                  |                                     
                                  .uk-text-small.uk-text-center
                                    a(href='#' uk-switcher-item='1') Back to login
              |                 
              div
                nav
                  ul.uk-nav.uk-nav-default.tm-nav
                    li.uk-active
                      a(href='account')
                        | Orders 
                        span (2)
          |             
          .uk-width-1-1(class='uk-width-expand@m')
            .uk-card.uk-card-default.uk-card-small.tm-ignore-container
              header.uk-card-header
                h1.uk-h2 Orders
              |                 
              section.uk-card-body
                h3
                  a.uk-link-heading(href='#')
                    | #36637649
                    span.uk-text-muted.uk-text-small from June 17, 2018
                |                   
                table.uk-table.uk-table-small.uk-table-justify.uk-table-responsive.uk-table-divider.uk-margin-small-top.uk-margin-remove-bottom
                  tbody
                    tr
                      th.uk-width-medium Service
                      |                         
                      td Exclusive
                    |                       
                    tr
                      th.uk-width-medium Contacts
                      |                         
                      td inst - @grisha
                    |                       
                    tr
                      th.uk-width-medium Text
                      |                         
                      td Please source
                    |                       
                    tr
                      th.uk-width-medium Total
                      |                         
                      td $4896.00
                    |                       
                    tr
                      th.uk-width-medium Status
                      |                         
                      td
                        span.uk-label Processing
              |                 
              section.uk-card-body
                h3
                  a.uk-link-heading(href='#')
                    | #36637649
                    span.uk-text-muted.uk-text-small from June 17, 2018
                |                   
                table.uk-table.uk-table-small.uk-table-justify.uk-table-responsive.uk-table-divider.uk-margin-small-top.uk-margin-remove-bottom
                  tbody
                    tr
                      th.uk-width-medium Service
                      |                         
                      td Exclusive
                    |                       
                    tr
                      th.uk-width-medium Contacts
                      |                         
                      td inst - @grisha
                    |                       
                    tr
                      th.uk-width-medium Text
                      |                         
                      td Please source
                    |                       
                    tr
                      th.uk-width-medium Total
                      |                         
                      td $4896.00
                    |                       
                    tr
                      th.uk-width-medium Status
                      |                         
                      td
                        span.uk-label.uk-label-danger Canceled
