doctype html.no-js(lang='en')
head
    meta(charset='UTF-8')
    |     
    meta(name='viewport' content='width=device-width, initial-scale=1')
    |     
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300,400,700' rel='stylesheet' type='text/css')
    |     
    link(rel='stylesheet' href='./assets/admin/css/theme.css')
    // Resource style
    link(rel='stylesheet' href='./assets/admin/css/nav.css')
    // CSS reset
    link(rel='stylesheet' href='./assets/admin/css/style.css')
    // Resource style
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js')
    |     
    script(src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.18/js/uikit.min.js')
    |     
    script(src='https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.0-beta.18/js/uikit-icons.min.js')
    |     
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js')
    |     
    link(rel='stylesheet' type='text/css' href='https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.css')
    |     
    link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet')
    |     
    link(href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet')
    |     
    title UIKit dark admin
|   
body
    // TODO ADD ARTICLE, MUSIC, ORDERS, USER, CONTACT US MANAGEMENT
    header.cd-main-header
        a.cd-logo(href='#')  Admin Panel 
        |       
        a.cd-nav-trigger(href='#')
            span
        |       
        nav.cd-nav
            ul.cd-top-nav
                li
                    a(href='./admin/orders') Orders
                |           
                li
                    a(href='./admin/contactme') Contact me!
                |           
                li.account
                    a(href='/account')  Account
    |     
    main.cd-main-content
        .content-wrapper
            br
            |         
            br
            |         
            div(id='page-content-wrapper uk-margin-top')
                #content.uk-container.uk-container-medium
                    h2.uk-h3.uk-margin-remove-bottom Welcome admin
                    |             
                    p.uk-margin-large-bottom.uk-margin-small-top
                        | What would you like to do today?             
                        div(class='uk-child-width-expand@s' uk-grid='')
                            article.uk-comment.uk-margin-medium-bottom
                                header.uk-comment-hea7der.uk-grid-medium.uk-flex-top(uk-grid='')
                                    span(uk-icon='file')
                                    |                     
                                    .uk-width-expand
                                        ul.uk-nav.uk-nav-default
                                            li.uk-active
                                                a(href='#') Articles
                                            |                         
                                            li
                                                a(href='./admin/articles/getAll') All articles                      
                                            li
                                                a(href='./admin/articles/create') Create a new article
                                            |                         
                                            li
                                                a(href='./admin/articles/delete') Delete Article

                            |                 
                            article.uk-comment.uk-margin-medium-bottom
                                header.uk-comment-hea7der.uk-grid-medium.uk-flex-top(uk-grid='')
                                    span(uk-icon='bolt')
                                    |                     
                                    .uk-width-expand
                                        ul.uk-nav.uk-nav-default
                                            li.uk-active
                                                a(href='#') Musics
                                            | 
                                            li
                                                a(href='./admin/music/getAll') Get all music                        
                                            li
                                                a(href='./admin/music/create') Upload new music
                                            |                         
                                            li
                                                a(href='./admin/music/manage') Manage music
                                            |                         
                                            li
                                                a(href='./admin/music/delete') Delete music
                            |                 
                            article.uk-comment.uk-margin-medium-bottom
                                header.uk-comment-hea7der.uk-grid-medium.uk-flex-top(uk-grid='')
                                    span(uk-icon='cart')
                                    |                     
                                    .uk-width-expand
                                        ul.uk-nav.uk-nav-default
                                            li.uk-active
                                                a(href='#') Orders
                                            |                         
                                            li
                                                a(href='./admin/orders/getAll') View all orders
                                            |                         
                                            li
                                                a(href='./admin/orders/manage') Manage orders
                                            li
                                                a(href='./admin/orders/delete') Delete orders
                            article.uk-comment.uk-margin-medium-bottom
                                header.uk-comment-hea7der.uk-grid-medium.uk-flex-top(uk-grid='')
                                    span(uk-icon='pencil')
                                    |                     
                                    .uk-width-expand
                                        ul.uk-nav.uk-nav-default
                                            li.uk-active
                                                a(href='#') Contact me
                                            |                         
                                            li
                                                a(href='./admin/contact/getAll') View all contact me
                                            |
                                            li
                                                a(href='./admin/contact/delete') Delete contact me

                            article.uk-comment.uk-margin-medium-bottom
                                header.uk-comment-hea7der.uk-grid-medium.uk-flex-top(uk-grid='')
                                    span(uk-icon='mail')
                                    |                     
                                    .uk-width-expand
                                        ul.uk-nav.uk-nav-default
                                            li.uk-active
                                                a(href='#') Emails
                                            |                         
                                            li
                                                a(href='./admin/emails/getAll') View all emails
                                            li
                                                a(href='./admin/emails/delete') Delete orders

                        div
                            article.uk-comment.uk-margin-medium-bottom
                                header.uk-comment-hea7der.uk-grid-medium.uk-flex-top(uk-grid='')
                                    span(uk-icon='user')
                                    |                     
                                    .uk-width-expand
                                        ul.uk-nav.uk-nav-default
                                            li.uk-active
                                                a(href='#') Accounts
                                            |                         
                                            li
                                                a(href='./admin/users/getAll') View all accounts
                                            |                         
                                            li
                                                a(href='./admin/users/delete') Delete accounts
                            |                 
                            article.uk-comment.uk-margin-medium-bottom
                                header.uk-comment-hea7der.uk-grid-medium.uk-flex-top(uk-grid='')
                                    span(uk-icon='file-edit')
                                    |                     
                                    .uk-width-expand
                                        ul.uk-nav.uk-nav-default
                                            li.uk-active
                                                a(href='#') Services
                                            |                         
                                            li
                                                a(href='./admin/services/getAll') View all services
                                            |                         
                                            li
                                                a(href='./admin/services/manage') Manage services