extends _base.pug 
block content
  main(style='padding-top: 80px')
    section.uk-section.uk-section-small
      .uk-container
        .uk-grid-medium.uk-child-width-1-1(uk-grid='')
          section.uk-text-center
            ul.uk-breadcrumb.uk-flex-center.uk-margin-remove
              li
                a(href='index.html') Home
              |                 
              li
                a(href='blog.html') Blog
              |                 
              li
                span Everything You Need to Know About VITALOSA
          |             
          section(style='padding-top: 40px')
            .uk-grid-medium.uk-child-width-1-1(uk-grid='')
              section
                article.uk-card.uk-card-default.uk-card-body.uk-article.tm-ignore-container
                  header.uk-text-center
                    h1.uk-article-title
                      | Everything You Need to Know About the MacBook Pro
                    |                       
                    .uk-article-meta
                      time May 21, 2018
                  |                     
                  section.uk-article-body
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      | Pellentesque euismod nisl nunc, a dictum magna laoreet
                      | eget. Vestibulum ante ipsum primis in faucibus orci
                      | luctus et ultrices posuere cubilia Curae.
                    |                       
                    p
                      | Sed sit amet ante eget nunc dictum auctor sagittis in
                      | libero. Aliquam ultricies tincidunt nisi, a vestibulum
                      | nisi tempor vitae. Praesent fermentum sem semper
                      | fermentum ultrices. Duis eleifend vel sapien dignissim
                      | auctor. Vestibulum at commodo leo. In vitae eros ut
                      | sapien egestas venenatis non sit amet elit. In gravida
                      | vitae ante a rutrum.
                    |                       
                    h2 Touch Bar
                    |                       
                    p
                      | Vivamus ornare tortor elit, sed rutrum felis iaculis in.
                      | Nunc ut molestie neque. Aenean vitae elementum arcu, at
                      | rutrum ligula. Pellentesque fringilla dictum viverra.
                      | Vestibulum eu ipsum nec risus pharetra iaculis. Donec
                      | quis nulla orci. Suspendisse eget dictum augue, et
                      | lobortis justo. Suspendisse velit dui, sollicitudin quis
                      | velit nec, tincidunt consequat arcu.
                    |                       
                    h2 Retina Display
                    |                       
                    p
                      | Pellentesque dictum imperdiet rutrum. Vestibulum egestas
                      | quam eget maximus rutrum. Etiam blandit a dolor laoreet
                      | vulputate. Nulla ullamcorper ipsum et libero finibus,
                      | vitae vestibulum odio feugiat.
                    |                       
                    figure.uk-text-center
                      a(href='images/articles/macbook-promo-4.jpg')
                        img(src='./girl3.jpg' alt='MacBook Pro')
                    |                       
                    h2 Force Touch Trackpad
                    |                       
                    p
                      | Vivamus ornare tortor elit, sed rutrum felis iaculis in.
                      | Nunc ut molestie neque. Aenean vitae elementum arcu, at
                      | rutrum ligula. Pellentesque fringilla dictum viverra.
                      | Vestibulum eu ipsum nec risus pharetra iaculis. Donec
                      | quis nulla orci. Suspendisse eget dictum augue, et
                      | lobortis justo. Suspendisse velit dui, sollicitudin quis
                      | velit nec, tincidunt consequat arcu.
                    |                       
                    .tm-wrapper
                      //
                        <figure class="tm-ratio tm-ratio-16-9">
                        <iframe
                        src="https://www.youtube.com/embed/WVPRkcczXCY"
                        frameborder="0"
                        allow="autoplay; encrypted-media"
                        allowfullscreen
                        ></iframe>
                        </figure>
                    |                       
                    p
                      | Ut arcu lacus, tempus bibendum purus sed, iaculis
                      | sollicitudin sapien. Donec quis imperdiet arcu. Ut
                      | sagittis ipsum diam, nec tempor ex fermentum a. Nam ac
                      | vehicula erat. Curabitur id congue risus, vel iaculis
                      | enim. Donec tristique lacinia velit eu fringilla. Mauris
                      | lectus enim, aliquet eu dolor sed, porta vehicula lacus.
                      | Etiam luctus egestas scelerisque. Sed sit amet metus
                      | ante. Cras pulvinar sollicitudin nisl nec egestas.
                      | Maecenas vitae velit ut urna vestibulum venenatis ut vel
                      | ex. Quisque sit amet mattis ante. Duis blandit nisl non
                      | commodo rutrum. Nulla in velit ut arcu efficitur laoreet
                      | ut eu mauris. Duis condimentum vulputate consequat.
                      | Vestibulum aliquet suscipit purus.
                    |                       
                    p
                      | Mauris dignissim non nulla quis sollicitudin. Maecenas
                      | quis orci dui. Suspendisse pharetra facilisis metus, at
                      | venenatis nisl convallis et. Curabitur vulputate eget
                      | nisl sed dignissim. Sed eget metus ut orci volutpat
                      | gravida.
                    |                       
                    p
                      | Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                      | Quisque sem urna, accumsan nec velit et, convallis
                      | tincidunt enim. Proin sollicitudin, metus at interdum
                      | tempus, velit mi posuere nisl, nec viverra ligula lorem
                      | sit amet felis. Class aptent taciti sociosqu ad litora
                      | torquent per conubia nostra, per inceptos himenaeos.
                    |                       
                    p
                      | Sed at diam aliquet, fringilla turpis ac, consequat
                      | ante. Duis id maximus purus. Cras rutrum erat non nibh
                      | accumsan, vitae maximus sapien elementum. Maecenas
                      | tellus libero, vulputate vitae mi eu, volutpat ornare
                      | felis. Nulla malesuada nunc urna, quis rutrum massa
                      | consequat id. Pellentesque elit diam, dignissim a lorem
                      | eu, tincidunt mollis erat.
                    |                       
                    .tm-wrapper
                      figure.uk-text-center
                        a(href='images/articles/macbook-promo-3.jpg')
                          img(src='./assets/images/wav.jpg' alt='MacBook Pro')
                        |                           
                        figcaption 13-inch and 15-inch
                    |                       
                    p
                      | Sed at diam aliquet, fringilla turpis ac, consequat
                      | ante. Duis id maximus purus. Cras rutrum erat non nibh
                      | accumsan, vitae maximus sapien elementum. Maecenas
                      | tellus libero, vulputate vitae mi eu, volutpat ornare
                      | felis. Nulla malesuada nunc urna, quis rutrum massa
                      | consequat id. Pellentesque elit diam, dignissim a lorem
                      | eu, tincidunt mollis erat.
                    |                       
                    blockquote(cite='#')
                      p.uk-margin-small-bottom
                        | You can converge a toaster and refrigerator, but these
                        | things are probably not going to be pleasing to the
                        | user.
                      |                         
                      footer Tim Cook
              |                 
              section(style='padding-top: 49px')
                h2.uk-text-center Related Articles
                |                   
                .uk-grid-medium.uk-grid-match.uk-child-width-1-1(class='uk-child-width-1-2@s uk-child-width-1-4@m' uk-grid='')
                  div
                    a(href='article.html')
                      article.uk-card.uk-card-default.uk-card-small.uk-overflow-hidden.uk-link-heading.uk-display-block.uk-box-shadow-hover-large.uk-height-1-1.tm-ignore-container
                        .uk-card-media-top
                          figure.uk-margin-remove.tm-ratio.tm-ratio-16-9
                            .uk-cover-container
                              img(src='./assets/images/wav.jpg' alt='Everything You Need to Know About WAV Studio' uk-cover='')
                        |                           
                        .uk-card-body
                          .uk-article-meta.uk-margin-xsmall-bottom
                            time May 21, 2021
                          |                             
                          h3.uk-h4.uk-margin-remove
                            | Everything You Need to Know About WAV Studio
                  |                     
                  div
                    a(href='article.html')
                      article.uk-card.uk-card-default.uk-card-small.uk-overflow-hidden.uk-link-heading.uk-display-block.uk-box-shadow-hover-large.uk-height-1-1.tm-ignore-container
                        .uk-card-media-top
                          figure.uk-margin-remove.tm-ratio.tm-ratio-16-9
                            .uk-cover-container
                              img(src='./girl2.jpg' alt='Apple introduces macOS Mojave' uk-cover='')
                        |                           
                        .uk-card-body
                          .uk-article-meta.uk-margin-xsmall-bottom
                            time May 21, 2018
                          |                             
                          h3.uk-h4.uk-margin-remove
                            | Apple introduces VITALOSA THIS IS NEW CYBORG
  include _subscribe 
  //Terms
  include _ourTerms

