extends _base.pug
block title 
  title WAV music
block content   
  main
    section.uk-section.uk-section-medium
      .uk-container
        h2.uk-text-center Trending Services
        |           
        .uk-card.uk-card-default.tm-ignore-container
          .uk-grid-small.uk-grid(class='uk-child-width-1-4@m' uk-grid='')
            div
              .uk-box-shadow-hover-large.uk-card.uk-card-default.uk-card-body.uk-padding-remove
                .uk-text-center.uk-background-secondary.uk-light.uk-padding-small
                  h5 &Ecy;&kcy;&scy;
                |                   
                .uk-text-center.uk-padding-small
                  h1.uk-text-bold
                    | 100 
                    span.uk-text-small usd
                |                   
                .uk-padding-small
                  ul.uk-list.uk-list-divider.uk-margin-remove-bottom
                    li.uk-text-success
                      span.uk-margin-small-right.uk-icon(uk-icon='check')
                      | Exclusive rights
                    |                       
                    li.uk-text-success
                      span.uk-margin-small-right.uk-icon(uk-icon='check')
                      | Video content
                    |                       
                    li.uk-text-success
                      span.uk-margin-small-right.uk-icon(uk-icon='check')
                      | Track out
                    |                       
                    li.uk-text-muted
                      span.uk-margin-small-right.uk-icon(uk-icon='close')
                      | Prod tag
                    |                       
                    li.uk-text-muted
                      span.uk-margin-small-right.uk-icon(uk-icon='close')
                      | Royalty
                    |                       
                    li.uk-text-muted
                      span.uk-margin-small-right.uk-icon(uk-icon='close')
                      | Support
                |                   
                .uk-padding.uk-text-center
                  a.uk-button.uk-button-large.uk-button-primary.uk-first-column(style='margin-left: 10px' href='#modal-center-order' uk-toggle='') &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy;
                  |                     
                  #modal-center-order.uk-flex-top(uk-modal='')
                    .uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical
                      button.uk-modal-close-default(type='button' uk-close='')
                      |                         
                      form(action='\
                      ')
                        h1.uk-text-lead.uk-text-primary
                          | Order our service
                        |                           
                        p
                          | Lorem ipsum dolor sit, amet consectetur adipisicing
                          | elit. Distinctio numquam non qui sed nobis quaerat
                          | consequuntur necessitatibus laboriosam temporibus
                          | dicta! Vero corrupti voluptas perferendis ipsa
                          | asperiores facilis nobis a quo!
                        |                           
                        ul.uk-subnav.uk-subnav-pill(uk-switcher='')
                          li
                            a(href='#') &Vcy; &ocy;&bcy;&shchcy;&iecy;&mcy;
                          |                             
                          li
                            a(href='#') Services 
                          |                             
                          li
                            a(href='#') Here
                          |                             
                          li
                            a(href='#') Exclusive
                          |                             
                          li
                            a(href='#') Design
                          |                             
                          li
                            a(href='#') Custom
                          |                             
                          li
                            a(href='#') Type
                          |                             
                          li
                            a(href='#') Beatpack
                        |                           
                        .uk-margin
                          .uk-inline(style='width: 78%')
                            span.uk-form-icon(uk-icon='icon: user')
                            |                               
                            input.uk-input(type='text' placeholder='First and last name')
                        |                           
                        .uk-margin
                          .uk-inline(style='width: 78%')
                            span.uk-form-icon(uk-icon='icon: pencil')
                            |                               
                            input.uk-input(type='text' placeholder='Some words about order')
                        |                           
                        .uk-margin
                          .uk-inline(style='width: 78%')
                            span.uk-form-icon(uk-icon='icon: mail')
                            |                               
                            input.uk-input(type='email' placeholder='Email adress')
                        |                           
                        .uk-margin
                          .uk-inline(style='width: 78%')
                            span.uk-form-icon(uk-icon='icon: receiver')
                            |                               
                            input.uk-input(type='tel' placeholder='Your number')
                        |                           
                        button.uk-button.uk-button-secondary(style='width: 100%')
                          | Send
                  |                     
                  a(uk-icon='info' href='#modal-center' uk-toggle='')
                  |                     
                  #modal-center.uk-flex-top(uk-modal='')
                    .uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical
                      button.uk-modal-close-default(type='button' uk-close='')
                      |                         
                      p &Dcy;&acy;, &ecy;&tcy;&ocy; &ocy;&pcy;&icy;&scy;&acy;&ncy;&icy;&iecy;
            |               
            div
              .uk-box-shadow-hover-large.uk-card.uk-card-default.uk-card-body.uk-padding-remove
                .uk-text-center.uk-background-secondary.uk-light.uk-padding-small
                  h5 &Ecy;&kcy;&scy;
                |                   
                .uk-text-center.uk-padding-small
                  h1.uk-text-bold
                    | 100 
                    span.uk-text-small usd
                |                   
                .uk-padding-small
                  ul.uk-list.uk-list-divider.uk-margin-remove-bottom
                    li.uk-text-success
                      span.uk-margin-small-right.uk-icon(uk-icon='check')
                      | Exclusive rights
                    |                       
                    li.uk-text-success
                      span.uk-margin-small-right.uk-icon(uk-icon='check')
                      | Video content
                    |                       
                    li.uk-text-success
                      span.uk-margin-small-right.uk-icon(uk-icon='check')
                      | Track out
                    |                       
                    li.uk-text-muted
                      span.uk-margin-small-right.uk-icon(uk-icon='close')
                      | Prod tag
                    |                       
                    li.uk-text-muted
                      span.uk-margin-small-right.uk-icon(uk-icon='close')
                      | Royalty
                    |                       
                    li.uk-text-muted
                      span.uk-margin-small-right.uk-icon(uk-icon='close')
                      | Support
                |                   
                .uk-padding.uk-text-center
                  a.uk-button.uk-button-large.uk-button-primary.uk-first-column(style='margin-left: 10px') &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy;
                  |                     
                  a(uk-icon='info' href='#modal-center' uk-toggle='')
                  |                     
                  #modal-center.uk-flex-top(uk-modal='')
                    .uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical
                      button.uk-modal-close-default(type='button' uk-close='')
                      |                         
                      p &IEcy;&shchcy;&iecy; &ocy;&dcy;&ncy;&ocy; &ocy;&pcy;&icy;&scy;&acy;&ncy;&icy;&iecy;
            |               
            div
              .uk-box-shadow-hover-large.uk-card.uk-card-default.uk-card-body.uk-padding-remove
                .uk-text-center.uk-background-secondary.uk-light.uk-padding-small
                  h5 &Ecy;&kcy;&scy;
                |                   
                .uk-text-center.uk-padding-small
                  h1.uk-text-bold
                    | 100 
                    span.uk-text-small usd
                |                   
                .uk-padding-small
                  ul.uk-list.uk-list-divider.uk-margin-remove-bottom
                    li.uk-text-success
                      span.uk-margin-small-right.uk-icon(uk-icon='check')
                      | Exclusive rights
                    |                       
                    li.uk-text-success
                      span.uk-margin-small-right.uk-icon(uk-icon='check')
                      | Video content
                    |                       
                    li.uk-text-success
                      span.uk-margin-small-right.uk-icon(uk-icon='check')
                      | Track out
                    |                       
                    li.uk-text-muted
                      span.uk-margin-small-right.uk-icon(uk-icon='close')
                      | Prod tag
                    |                       
                    li.uk-text-muted
                      span.uk-margin-small-right.uk-icon(uk-icon='close')
                      | Royalty
                    |                       
                    li.uk-text-muted
                      span.uk-margin-small-right.uk-icon(uk-icon='close')
                      | Support
                |                   
                .uk-padding.uk-text-center
                  a.uk-button.uk-button-large.uk-button-primary.uk-first-column(style='margin-left: 10px') Order
                  |                     
                  a(uk-icon='info' href='#modal-center' uk-toggle='')
                  |                     
                  #modal-center.uk-flex-top(uk-modal='')
                    .uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical
                      button.uk-modal-close-default(type='button' uk-close='')
                      |                         
                      p &Rcy;&acy;&bcy;&ocy;&tcy;&acy;&iecy;&tcy;
            |               
            div
              .uk-box-shadow-hover-large.uk-card.uk-card-default.uk-card-body.uk-padding-remove
                .uk-text-center.uk-background-secondary.uk-light.uk-padding-small
                  h5 &Ecy;&kcy;&scy;
                |                   
                .uk-text-center.uk-padding-small
                  h1.uk-text-bold
                    | 100 
                    span.uk-text-small usd
                |                   
                .uk-padding-small
                  ul.uk-list.uk-list-divider.uk-margin-remove-bottom
                    li.uk-text-success
                      span.uk-margin-small-right.uk-icon(uk-icon='check')
                      | Exclusive rights
                    |                       
                    li.uk-text-success
                      span.uk-margin-small-right.uk-icon(uk-icon='check')
                      | Video content
                    |                       
                    li.uk-text-success
                      span.uk-margin-small-right.uk-icon(uk-icon='check')
                      | Track out
                    |                       
                    li.uk-text-muted
                      span.uk-margin-small-right.uk-icon(uk-icon='close')
                      | Prod tag
                    |                       
                    li.uk-text-muted
                      span.uk-margin-small-right.uk-icon(uk-icon='close')
                      | Royalty
                    |                       
                    li.uk-text-muted
                      span.uk-margin-small-right.uk-icon(uk-icon='close')
                      | Support
                |                   
                .uk-padding.uk-text-center
                  a.uk-button.uk-button-large.uk-button-primary.uk-first-column(style='margin-left: 10px') &Zcy;&acy;&kcy;&acy;&zcy;&acy;&tcy;&softcy;
                  |                     
                  a(uk-icon='info' href='#modal-center' uk-toggle='')
                  |                     
                  #modal-center.uk-flex-top(uk-modal='')
                    .uk-modal-dialog.uk-modal-body.uk-margin-auto-vertical
                      button.uk-modal-close-default(type='button' uk-close='')
                      |                         
                      p &Dcy;&ocy;&rcy;&ocy;&gcy;&ocy;&jcy; &dcy;&ncy;&iecy;&vcy;&ncy;&icy;&kcy;...
  include _ourTerms