extends _base.pug
block title 
  title Settings
block content     
  main(style='padding-top: 80px')
    section.uk-section.uk-section-small
      .uk-container
        .uk-grid-medium(uk-grid='')
          .uk-width-1-1.tm-aside-column(class='uk-width-1-4@m')
            .uk-card.uk-card-default.uk-card-small.tm-ignore-container(uk-sticky='offset: 90; bottom: true; media: @m;')
              .uk-card-header
                .uk-grid-small.uk-child-width-1-1(uk-grid='')
                  section
                    .uk-width-1-3.uk-margin-auto.uk-visible-toggle.uk-position-relative.uk-border-circle.uk-overflow-hidden.uk-light(class='uk-width-1-4@s uk-width-1-2@m')
                      img.uk-width-1-1(src='./dest/images/avatar.jpg')
                      a.uk-link-reset.uk-overlay-primary.uk-position-cover.uk-hidden-hover(href='#')
                        .uk-position-center
                          span(uk-icon='icon: camera; ratio: 1.25;')
                  |                     
                  .uk-text-center
                    .uk-h4.uk-margin-remove #{user.name}

                  |                     
                  div
                    .uk-grid-small.uk-flex-center(uk-grid='')
                      div
                        a.uk-button.uk-button-default.uk-button-small(href='settings')
                          span.uk-margin-xsmall-right(uk-icon='icon: cog; ratio: .75;')
                          span Change Me
                      |                         
                      div
                        span.uk-button.uk-button-default.uk-button-small(uk-icon='sign-out' onclick="logout()")
              div
                nav
                  ul.uk-nav.uk-nav-default.tm-nav
                    li.uk-active
                      a(href='account')
                        | Orders 
                        span (2)
          |             
          .uk-width-1-1(class='uk-width-expand@m')
            .uk-card.uk-card-default.uk-card-small.tm-ignore-container
              header.uk-card-header
                h1.uk-h2 Settings
              |                 
              .uk-card-body
                form.uk-form-stacked
                  .uk-grid-medium.uk-child-width-1-1(uk-grid='')
                    fieldset.uk-fieldset
                      legend.uk-h4 Email
                      |                         
                      .uk-grid-small.uk-child-width-1-1(uk-grid='')
                        div
                          label
                            .uk-form-label Current Email
                            |                               
                            input.uk-input.uk-form-width-large(type='email' value=user.email disabled='')
                        |                           
                        div(style='padding-top: 12px')
                          label
                            .uk-form-label New Email
                            |                               
                            input.uk-input.uk-form-width-large(type='email')
                        |                           
                        div(style='padding: 20px')
                          p.uk-button.uk-button-primary(onclick="updateEmail()" id="updateEmailButton")
                            | update email
                    |                       
                    fieldset.uk-fieldset
                      legend.uk-h4 Password
                      |                         
                      .uk-grid-small.uk-child-width-1-1(uk-grid='')
                        div
                          label
                            .uk-form-label Current Password
                            |                               
                            input.uk-input.uk-form-width-large(type='password' id="currentPwd")
                        |                           
                        div(style='padding-top: 12px')
                          label
                            .uk-form-label New Password
                            |                               
                            input.uk-input.uk-form-width-large(type='password' id="newPwd")
                        |                                                
                        div(style='padding: 20px')
                          p.uk-button.uk-button-primary(onclick="updatePassword()" id="updatePassword")
                            | update password
