html
    body
        h1 Hello World, this is #{articles[0].author}!

        if articles[0] != null
            p Hi there, #{articles[0].author}!
        else
            p Hi there, unknown person!

        block content
            p This page doesn't have any content yet.