<a href="#" class="uk-button uk-button-link uk-icon tm-back"><span uk-icon="icon: chevron-left; "></span>Back</a>

	<div class="uk-child-width-expand@s uk-margin-small-top uk-flex-top" uk-grid>
<div>

<div class="uk-flex uk-flex-wrap ">
    <div class="uk-width-1-1">
		<h2 class="uk-h3">Upload Images</h2>
	</div>    
	<div class="uk-width-1-1">
		<ul class="uk-breadcrumb">
			<li><a href="#">Home</a></li>
			<li><a href="#">Images</a></li>
			<li class="uk-disabled"><a href="#">Upload</a></li>
		</ul>
	</div>
</div>
</div>
<br />
<br />
<div>

</div>
</div>


<div class="test-upload uk-placeholder uk-text-center">
    <span uk-icon="icon: cloud-upload"></span>
    <span class="uk-text-middle">Attach binaries by dropping them here or</span>
    <div uk-form-custom>
        <input type="file" multiple>
        <span class="uk-link">selecting one</span>
    </div>
</div>


<div class="uk-child-width-1-4@m" uk-grid>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="http://i.expresspixel.com/unsplash.it/300/200?image=1084" alt="">
            </div>
            <div class="uk-card-body uk-padding-small">
				<button class="uk-button uk-button-danger uk-width-1-1">Delete</button>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="http://i.expresspixel.com/unsplash.it/300/200?image=1083" alt="">
            </div>
            <div class="uk-card-body uk-padding-small">
				<button class="uk-button uk-button-danger uk-width-1-1">Delete</button>
            </div>
        </div>
    </div>
        <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="http://i.expresspixel.com/unsplash.it/300/200?image=1082" alt="">
            </div>
            <div class="uk-card-body uk-padding-small">
				<button class="uk-button uk-button-danger uk-width-1-1">Delete</button>
            </div>
        </div>
    </div>
        <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="http://i.expresspixel.com/unsplash.it/300/200?image=1082" alt="">
            </div>
            <div class="uk-card-body uk-padding-small">
				<button class="uk-button uk-button-danger uk-width-1-1">Delete</button>
            </div>
        </div>
    </div>
        <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="http://i.expresspixel.com/unsplash.it/300/200?image=1080" alt="">
            </div>
            <div class="uk-card-body uk-padding-small">
				<button class="uk-button uk-button-danger uk-width-1-1">Delete</button>
            </div>
        </div>
    </div>
        <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="http://i.expresspixel.com/unsplash.it/300/200?image=1084" alt="">
            </div>
            <div class="uk-card-body uk-padding-small">
				<button class="uk-button uk-button-danger uk-width-1-1">Delete</button>
            </div>
        </div>
    </div>
        <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="http://i.expresspixel.com/unsplash.it/300/200?image=1084" alt="">
            </div>
            <div class="uk-card-body uk-padding-small">
				<button class="uk-button uk-button-danger uk-width-1-1">Delete</button>
            </div>
        </div>
    </div>
        <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="http://i.expresspixel.com/unsplash.it/300/200?image=1084" alt="">
            </div>
            <div class="uk-card-body uk-padding-small">
				<button class="uk-button uk-button-danger uk-width-1-1">Delete</button>
            </div>
        </div>
    </div>
        <div>
        <div class="uk-card uk-card-default">
            <div class="uk-card-media-top">
                <img src="http://i.expresspixel.com/unsplash.it/300/200?image=1084" alt="">
            </div>
            <div class="uk-card-body uk-padding-small">
				<button class="uk-button uk-button-danger uk-width-1-1">Delete</button>
            </div>
        </div>
    </div>
    
</div>

<progress id="progressbar" class="uk-progress" value="0" max="100" hidden></progress>

<script>

    (function ($) {

        var bar = $("#progressbar")[0];

        UIkit.upload('.test-upload', {

            url: '',
            multiple: true,

            beforeSend: function() { console.log('beforeSend', arguments); },
            beforeAll: function() { console.log('beforeAll', arguments); },
            load: function() { console.log('load', arguments); },
            error: function() { console.log('error', arguments); },
            complete: function() { console.log('complete', arguments); },

            loadStart: function (e) {
                console.log('loadStart', arguments);

                bar.removeAttribute('hidden');
                bar.max =  e.total;
                bar.value =  e.loaded;
            },

            progress: function (e) {
                console.log('progress', arguments);

                bar.max =  e.total;
                bar.value =  e.loaded;

            },

            loadEnd: function (e) {
                console.log('loadEnd', arguments);

                bar.max =  e.total;
                bar.value =  e.loaded;
            },

            completeAll: function () {
                console.log('completeAll', arguments);

                setTimeout(function () {
                    bar.setAttribute('hidden', 'hidden');
                }, 1000);

                alert('Upload Completed');
            }
        });

    })(jQuery);

</script>