section#target.uk-section.uk-section-primary.uk-section-small.uk-light
    .uk-container
        .uk-text-center
            .uk-h2.uk-margin-remove Subscribe for new beats
            |             
            div Be aware of new products and special offers.
        |           
        .uk-margin
            form
                .uk-grid-small.uk-flex-center.uk-grid(uk-grid='')
                    .uk-width-1-1.uk-first-column(class='uk-width-medium@s')
                        .uk-inline.uk-width-1-1
                            span.uk-form-icon.uk-icon(uk-icon='mail')
                                svg(width='20' height='20' style='margin-left: -20px' viewbox='0 0 20 20' xmlns='http://www.w3.org/2000/svg')
                            input.uk-input(type='email' placeholder='Your email' required='' id="email")
                    |                 
                    div
                        button.uk-button.uk-button-primary(onclick="sendJSON()") subscribe
