extends _adminChanges.pug
block title 
    title Sirota
block page 
    main 
        section.uk-width-1-1.uk-grid-margin.uk-first-column
            h2.uk-text-center Find service by id 
            |                         
            form
                .uk-grid-small.uk-child-width-1-1.uk-grid.uk-grid-stack(uk-grid='')
                    .uk-first-column
                        label
                            .uk-form-label.uk-form-label-required
                                | id
                            |                                 
                            input.uk-input(type='text' required='' id="findId")
                    .uk-text
                        button(type="button" onclick="return getService()")
                            | Find
            br
            br
            h2 Found service is 

            form
                label
                    .uk-form-label.uk-form-label-required
                        |Service header
                    |                                 
                    input.uk-input(type='text' required='' id="header" )
                br
                br
                label
                    .uk-form-label Price USD
                    |                
                    input.uk-input(type='text' required='' id="priceUSD" )
                br
                br
                label
                    .uk-form-label Visible
                    |                
                    select.uk-select(id="visible")
                        option false
                        |                                   
                        option true
                br
                br
                br
                label
                    h1 Rights 
                label
                    .uk-form-label Exclusive
                    |                
                    select.uk-select(id="Exclusive")
                        option false
                        |                                   
                        option true
                br
                br
                label
                    .uk-form-label Video
                    |                
                    select.uk-select(id="Video")
                        option false
                        |                                   
                        option true
                br
                br
                label
                    .uk-form-label TrackOut
                    |                
                    select.uk-select(id="TrackOut")
                        option false
                        |                                   
                        option true 
                br
                br
                label
                    .uk-form-label Prod
                    |                
                    select.uk-select(id="Prod")
                        option false
                        |                                   
                        option true
                br
                br
                label
                    .uk-form-label Royalty
                    |                
                    select.uk-select(id="Royalty")
                        option false
                        |                                   
                        option true
                br
                br
                label
                    .uk-form-label Support
                    |                
                    select.uk-select(id="Support")
                        option false
                        |                                   
                        option true

                br
                br
                br
                label 
                    h1 Service Text
                    textarea(id="serviceText" rows="4" cols="70")
                br
                br
                button(type="button" onclick="return updateService()")
                    | UPDATE!


    script.
        let globalId='';
        const getService = async () => {
            try {
                const id = document.getElementById('findId').value;

                const res = await axios({
                    method: 'GET',
                    url: '/api/v1/services/'+id,
                    data: {

                    },
                })

                const data = res.data.data.data;
                console.log(data)
                globalId=data._id
                document.getElementById("header").value=data.serviceHeader;
                document.getElementById("priceUSD").value=data.priceUSD;
                document.getElementById("visible").value=data.visible;
                document.getElementById("serviceText").value=data.serviceText;
                document.getElementById("Exclusive").value=data.rights.Exclusive;
                document.getElementById("Video").value=data.rights.Video;
                document.getElementById("TrackOut").value=data.rights.TrackOut;
                document.getElementById("Prod").value=data.rights.Prod;
                document.getElementById("Royalty").value=data.rights.Royalty;
                document.getElementById("Support").value=data.rights.Support;
                return false
            }catch (err) {
                alert(err)
                return false
            }
        };

        const updateService= async () => {
            try {
                const serviceHeader = document.getElementById("header").value;
                const priceUSD = document.getElementById("priceUSD").value;
                const visible = true ? document.getElementById("visible").value : false;
                const serviceText=document.getElementById("serviceText").value;
                let rights={};
                rights.Exclusive = true ? document.getElementById("Exclusive").value : false;
                rights.Video = true ? document.getElementById("Video").value : false;
                rights.TrackOut = true ? document.getElementById("TrackOut").value : false;
                rights.Prod = true ? document.getElementById("Prod").value : false;
                rights.Royalty = true ? document.getElementById("Royalty").value : false;
                rights.Support = true ? document.getElementById("Support").value : false;
                if((!serviceHeader)||(!priceUSD)||(!serviceText)){alert("no empty fields");return false}
                const res = await axios({
                    method: 'PATCH',
                    url: '/api/v1/services/'+globalId,
                    data: {
                        serviceText:serviceText,
                        serviceHeader:serviceHeader,
                        visible:visible,
                        priceUSD:priceUSD   ,
                        rights: rights
                },
                })

                console.log(res);
                alert('thats good')

                return false
            }catch (err) {
                alert(err)
                return false
            }
        };