<a href="#" class="uk-button uk-button-link uk-icon tm-back"><span uk-icon="icon: chevron-left; "></span>Back</a>

<h2 class="uk-h3 uk-margin-small-top">Labels and Badges</h2>
<ul class="uk-breadcrumb uk-margin-remove-top uk-margin-medium-bottom">
    <li><a href="#elements">Elements</a></li>
    <li class="uk-disabled"><a href="#">Labels and Badges</a></li>
</ul>

<div class="uk-child-width-1-2@s uk-grid-small" uk-grid>
    <div>
        <div class="uk-inline uk-visible-toggle uk-light">
            <img src="http://i.expresspixel.com/unsplash.it/1124/749?image=1074" alt="">
            <a class="uk-position-center-left uk-position-small uk-hidden-hover uk-slidenav-large" href="#widgets/carousel" uk-slidenav-previous></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover uk-slidenav-large" href="#widgets/carousel" uk-slidenav-next></a>
        </div>
    </div>
    <div>
        <div class="uk-inline uk-visible-toggle">
            <img src="http://i.expresspixel.com/unsplash.it/1124/749?image=1025" alt="">
            <a class="uk-position-center-left uk-position-small uk-hidden-hover uk-slidenav-large" href="#widgets/carousel" uk-slidenav-previous></a>
            <a class="uk-position-center-right uk-position-small uk-hidden-hover uk-slidenav-large" href="#widgets/carousel" uk-slidenav-next></a>
        </div>
    </div>    
</div>


<div class="uk-child-width-1-2@s uk-grid-small" uk-grid>
    <div>
        <div class="uk-inline uk-light">
            <img src="http://i.expresspixel.com/unsplash.it/1124/749?image=1025" alt="">
            <div class="uk-slidenav-container uk-position-top-left uk-position-small">
                <a class="uk-slidenav-large" href="#" uk-slidenav-previous></a>
                <a class="uk-slidenav-large" href="#" uk-slidenav-next></a>
            </div>
        </div>
    </div>
    <div>
        <div class="uk-inline">
            <img src="http://i.expresspixel.com/unsplash.it/1124/749?image=1074" alt="">
            <div class="uk-slidenav-container uk-position-bottom-right uk-position-small">
                <a class="uk-slidenav-large" href="#" uk-slidenav-previous></a>
                <a class="uk-slidenav-large" href="#" uk-slidenav-next></a>
            </div>
        </div>
    </div>
</div>

