extends util

block content
    p Have some vegetables:

    ul
        for article in articles
            li= article
    a(class='button', href=link '(click)'="play()", style={color: 'red', background: 'green'}) Google
    