	<div class="uk-child-width-expand@s uk-margin-small-top uk-flex-top" uk-grid>
<div>
<ul class="uk-breadcrumb">
    <li><a href="#">Home</a></li>
    <li class="#articles/manage"><a href="#">Articles</a></li>
    <li class="uk-disabled"><a href="#">Comments</a></li>
</ul>
<div class="uk-flex uk-flex-wrap ">
    <div class="uk-width-1-1">
		<h2 class="uk-h3">Manage comments</h2>
	</div>
</div>
</div>

<div>

</div>
</div>
<br />

	<div class="uk-child-width-expand@s uk-margin-small-top uk-flex-middle" uk-grid>


    <div>
	<ul class="uk-subnav uk-subnav-divider uk-flex-middle" uk-margin>
    <li class="uk-active"><a href="#">All</a></li>
    <li><a href="#">Pending</a></li>
    <li><a href="#">Approved</a></li>
    <li><a href="#">Spam</a></li>
    <li><a href="#">Trash</a></li>
</ul>
	</div>

    <div>
		<div class="uk-flex-right">
			<form class="uk-search uk-search-default uk-flex-right uk-flex-wrap-stretch uk-width-1-1">
				<span uk-search-icon></span>
				<input class="uk-search-input uk-flex-wrap-stretch" id="search" type="search" placeholder="Search...">
			</form>
		</div>
	</div>

	
</div>
<hr class="uk-divider-icon">

<ul class="uk-comment-list">
            <li>
			    <article class="uk-comment uk-visible-toggle">
					<header class="uk-comment-header uk-position-relative">
						<div class="uk-grid-medium uk-flex-middle" uk-grid>
							<div class="uk-width-auto">
								<img class="uk-comment-avatar" src="https://getuikit.com/docs/images/avatar.jpg" width="80" height="80" alt="">
							</div>
							<div class="uk-width-expand">
								<h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Author</a></h4>
								<p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">12 days ago</a></p>
							</div>
						</div>
						<div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" href="#">Reply</a></div>
					</header>
					<div class="uk-comment-body">
						<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
						
						<ul class="uk-subnav uk-subnav-divider" uk-margin>
							<li><a class="uk-text-warning" href="#">Unapprove</a></li>
							<li><a class="uk-text-primary" href="#">Approve</a></li>
							<li><a class="uk-text-primary" href="#">Edit</a></li>
							<li><a class="uk-text-danger" href="#">Spam</a></li>
							<li><a class="uk-text-danger" href="#">Delete</a></li>
						</ul>


					</div>
				</article>
			</li>
            <li>
                <article class="uk-comment uk-comment-primary uk-visible-toggle">
                    <header class="uk-comment-header uk-position-relative">
                        <div class="uk-grid-medium uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-comment-avatar" src="https://getuikit.com/docs/images/avatar.jpg" width="80" height="80" alt="">
                            </div>
                            <div class="uk-width-expand">
                                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Author</a></h4>
                                <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">12 days ago</a></p>
                            </div>
                        </div>
                        <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" href="#">Reply</a></div>
                    </header>
                    <div class="uk-comment-body">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
												
						<ul class="uk-subnav uk-subnav-divider" uk-margin>
							<li><a class="uk-text-warning" href="#">Unapprove</a></li>
							<li><a class="uk-text-primary" href="#">Approve</a></li>
							<li><a class="uk-text-primary" href="#">Edit</a></li>
							<li><a class="uk-text-danger" href="#">Spam</a></li>
							<li><a class="uk-text-danger" href="#">Delete</a></li>
						</ul>
                    </div>
                </article>
            </li>
            <li>
                <article class="uk-comment uk-visible-toggle">
                    <header class="uk-comment-header uk-position-relative">
                        <div class="uk-grid-medium uk-flex-middle" uk-grid>
                            <div class="uk-width-auto">
                                <img class="uk-comment-avatar" src="https://getuikit.com/docs/images/avatar.jpg" width="80" height="80" alt="">
                            </div>
                            <div class="uk-width-expand">
                                <h4 class="uk-comment-title uk-margin-remove"><a class="uk-link-reset" href="#">Author</a></h4>
                                <p class="uk-comment-meta uk-margin-remove-top"><a class="uk-link-reset" href="#">12 days ago</a></p>
                            </div>
                        </div>
                        <div class="uk-position-top-right uk-position-small uk-hidden-hover"><a class="uk-link-muted" href="#">Reply</a></div>
                    </header>
                    <div class="uk-comment-body">
                        <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
												
						<ul class="uk-subnav uk-subnav-divider" uk-margin>
							<li><a class="uk-text-warning" href="#">Unapprove</a></li>
							<li><a class="uk-text-primary" href="#">Approve</a></li>
							<li><a class="uk-text-primary" href="#">Edit</a></li>
							<li><a class="uk-text-danger" href="#">Spam</a></li>
							<li><a class="uk-text-danger" href="#">Delete</a></li>
						</ul>
                    </div>
                </article>
            </li>
</ul>

<ul class="uk-pagination uk-flex-center uk-margin-medium-top" uk-margin>
    <li><a href="#"><span uk-pagination-previous></span></a></li>
    <li><a href="#">1</a></li>
    <li class="uk-disabled"><span>...</span></li>
    <li><a href="#">5</a></li>
    <li><a href="#">6</a></li>
    <li class="uk-active"><span>7</span></li>
    <li><a href="#">8</a></li>
    <li><a href="#"><span uk-pagination-next></span></a></li>
</ul>

<script>
$("#search").keyup(function() {
    var value = this.value.toLowerCase().trim();

    $("table").find("tr").each(function(index) {
        if (!index) return;
        var id = $(this).find("td").first().text();
        $(this).toggle(id.indexOf(value) !== -1);
    });
});
</script>