<a href="#" class="uk-button uk-button-link uk-icon tm-back"><span uk-icon="icon: chevron-left; "></span>Back</a>

<h2 class="uk-h3 uk-margin-small-top">New Article</h2>
<ul class="uk-breadcrumb uk-margin-remove-top uk-margin-medium-bottom">
    <li><a href="#articles">Articles</a></li>
    <li class="uk-disabled"><a href="#">New Article</a></li>
</ul>
<form class="uk-form-stacked">

	<div class="uk-child-width-expand@s uk-margin-medium-top" uk-grid>
		<div>
				<div class="uk-margins">
					<label class="uk-form-label" for="form-stacked-text">Title</label>
					<div class="uk-form-controls">
						<input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
					</div>
				</div>
		</div>
		<div>
				<div class="uk-margins">
					<label class="uk-form-label" for="form-stacked-text">Slug</label>
					<div class="uk-form-controls">
						<input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
					</div>
				</div>
		</div>
	</div>

	<div class="uk-child-width-expand@s uk-margin-medium-top" uk-grid>
		<div>
				<div class="uk-margin">
					<label class="uk-form-label" for="form-stacked-select">Parent page</label>
					<div class="uk-form-controls">
						<select class="uk-select" id="form-stacked-select">
							<option>Option 01</option>
							<option>Option 02</option>
						</select>
					</div>
				</div>
		</div>
		<div>
				<div class="uk-margin">
					<label class="uk-form-label" for="form-stacked-select">Template</label>
					<div class="uk-form-controls">
						<select class="uk-select" id="form-stacked-select">
							<option>Option 01</option>
							<option>Option 02</option>
						</select>
					</div>
				</div>
		</div>
	</div>
	
	        <div class="uk-margin">
								<label class="uk-form-label" for="form-stacked-text">Content</label>

            <textarea id="editor" class="uk-textarea" rows="20" placeholder="Textarea"></textarea>
        </div>

    <div class="uk-margin">
        <label class="uk-form-label" for="form-stacked-text">Keywords</label>
        <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" placeholder="Some text...">
        </div>
    </div>

	
    <div class="uk-margin">
        <div class="uk-form-label">Radio</div>
        <div class="uk-form-controls">
            <label><input class="uk-radio" type="radio" name="radio1"> Option 01</label><br>
            <label><input class="uk-radio" type="radio" name="radio1"> Option 02</label>
        </div>
    </div>
	
	<div class="uk-margin-large-bottom"><br /></div>
	


    <div class="footer-buttons">
		<div class="footer-padding">
			<button class="uk-button uk-button-primary uk-icon uk-align-right uk-margin-remove-bottom"><span uk-icon="icon: check; "></span> Publish</button>
			<button class="uk-button uk-button-default uk-icon uk-align-right uk-margin-remove-bottom"><span uk-icon="icon: file-edit; "></span> Save draft</button>
		</div>
	</div>
</form>

  <script>
CKEDITOR.editorConfig = function (config) {
    config.language = 'en';
    config.uiColor = '#F7B42C';
    config.height = 450;
    config.toolbarCanCollapse = true;

};
CKEDITOR.replace('editor');
  </script>
